<h1>@<%= @user.username %> Leads</h1>


<% @user.leads.each do |lead| %>
    <p>
        <a href="/users/<%= lead.user.slug %>">@<%= lead.user.username %></a>:&nbsp;&nbsp; 
        <a href="/leads/<%= lead.id %>"><%= lead.company %></a>
        <a href="/leads/<%= lead.id %>"><%= lead.company_website %></a>
        <a href="/leads/<%= lead.id %>"><%= lead.company_affiliation %></a>
        <a href="/leads/<%= lead.id %>"><%= lead.bootcamp_grad_job_titles %></a>
        <a href="/leads/<%= lead.id %>"><%= lead.hiring_manager_name(s) %></a>
        <a href="/leads/<%= lead.id %>"><%= lead.hiring_manager_job_title(s) %></a>
        <a href="/leads/<%= lead.id %>"><%= lead.willing_to_consider_referral? %></a>
        <a href="/leads/<%= lead.id %>"><%= lead.willing_to_consider_informational_interview? %></a>
        <a href="/leads/<%= lead.id %>"><%= lead.preferred_method_of_contact %></a>
        <a href="/leads/<%= lead.id %>"><%= lead.notes %></a>

    </p>
    <% end %>