<h1><a href="/users/<%= @lead.user.slug %>">@<%= @lead.user.username %></a> - New Lead Detail</h1>

</br>
      <p>Company: <%= @lead.company %> </p>
        <p>Company Website: <%= @lead.company_website %></p>
        <p>Company Affiliation: <%= @lead.company_affiliation %></p>
       <p>Bootcamp Grad Job Title(s): <%= @lead.bootcamp_grad_job_titles %></p>
       <p>Hiring Manager Name(s): <%= @lead.hiring_manager_name %></p>
      <p> Hiring Manager Job Title(s): <%= @lead.hiring_manager_job_title %></p>
       <p>Willing To Consider Referral?: <%= @lead.willing_to_consider_referral? %></p>
       <p>Willing To Consider Informational Interview?: <%= @lead.willing_to_consider_informational_interview? %></p>
        <p>Preferred Method Of Contact: <%= @lead.preferred_method_of_contact %></p>
       <p>Notes: <%= @lead.notes %></p>
       
       </br>



<% if @lead.user_id == current_user.id %>
    <a class="button" href="/leads/<%= @lead.id %>/edit" value="Edit Lead">Edit Lead</a>
    <form method="post" action="/leads/<%= @lead.id %>" style="display: inline;">
        <input id="hidden" type="hidden" name="_method" value="Delete">
        <input type="submit" value="Delete Lead" class="button" id="Delete Lead">
    </form>
<% end %>